body {
  margin: 0;
}

* {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.8vw 3vw;
}

.header__logo {
  position: relative;
  padding: 1vw 0 0 4.7vw;
  width: 0;
  height: 0;
}

.header__logo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/logo.png) no-repeat 0 0;
  width: 16.4vw;
  height: 2.4vw;
}

.nav {
  padding: 0;
  font-weight: 400;
}

.nav__item {
  font-size: 1.5vw;
  margin-right: 1.8vw;
  text-decoration: none;
}

.nav__item:last-child {
  margin-right: 0;
}

.top-section {
  width: 100%;
  height: 58.7vw;
  background: url(img/banner-photo.png) no-repeat;
  background-size: cover;
  color: white;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 10.2vw 45vw 5vw 3vw;
}

.text__title {
  font-size: 4.7vw;
  margin-top: 0;
  margin-bottom: 1.1vw;
  line-height: 5.4vw;
  letter-spacing: 1px;
}

.text__description {
  word-spacing: 2px;
  line-height: 2.3vw;
  font-size: 1.5vw;
  font-weight: 400;
  margin-bottom: 3vw;
}

.text__button {
  width: max-content;
  font-size: 1.5vw;
  color: white;
  background-color: #ef5b4c;
  padding: 1vw 6vw;
  border-radius: 5px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 58vw;
  background: no-repeat url(img/man_with_laptop.png);
  /* background-size: 25vw 25vw; */
  background-position: 5.5vw 27.2vw;
  padding: 10.5vw 0vw 2vw 0;
}

.about__title {
  font-size: 4.7vw;
  font-weight: 400;
  padding-left: 28vw;
  margin-bottom: 3.3vw;
}

.description {
  display: flex;
  flex-direction: column;
  width: 55.5vw;
  margin-left: 43.3vw;
}

.description__subtitle {
  font-size: 2.4vw;
  margin-bottom: 0.3vw;
}

.description__text {
  font-family: 'Lato', sans-serif;
  font-size: 1.7vw;
  letter-spacing: 0.3px;
  line-height: 2.1vw;
  margin-bottom: 1.3vw;
  word-spacing: 0.3vw;
}

.description__text_color_red {
  color: red;
  padding-top: 0.8vw;
}

.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 95.7vw;
  padding: 9.7vw 0vw 2vw 0vw;
}

.user-section__title {
  margin-bottom: 6vw;
}

.user-section__title > h1 {
  font-size: 5vw;
  margin-bottom: 1vw;
}

.user-section__title > p {
  font-size: 1.6vw;
  margin-top: 0;
  margin-left: 5.3vw;
}

.users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: max-content;
  margin: 0 1.5vw;
}

.users__user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 32vw;
  height: 32vw;
}

.user-section__users {
  margin-bottom: 2.5vw;
}

.users__user:nth-child(n+4) {
  height: max-content;
}

.users__user > h3 {
  width: 64%;
  font-size: 2.4vw;
  text-align: center;
  margin: 1vw auto;
  line-height: 3vw;
}

.users__user:nth-child(4) > h3 {
  width: 57%;
}

.users__user > p {
  margin: 0;
  text-align: center;
  width: 69%;
  font-size: 1.6vw;
  line-height: 2.4vw;
}

.user-section__button, .form__button {
  font-size: 1.5vw;
  padding: 0.8vw 6.5vw;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #ef5b4c;
}

.footer {
  height: 104.7vw;
  border: 1px solid red;
  padding: 10.8vw 24.8vw;
}

.form__title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 5.2vw;
  margin-bottom: 1vw;
}